.carousel-container {
    padding: 20px;
    margin-top: 4%;
    max-width: 80%;
    position: relative; /* Necessário para posicionar as setas */
}

.hot-topic-container {
    width: 100%;
    justify-content: center;
    display: flex;
}

.carousel-previous,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
}

.carousel-previous {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-item {
    display: flex;
    width: 1000px;
    height: 400px;
    align-items: center;
    justify-content: center;
}
